@model Individual.Individual
@Html.EditorFor(model => model.Name)
<div class="form-group row">
    @Html.EditorFor(model => model.IdentityNumber, "IdentityNumber")
    @Html.EditorFor(model => model.PassportNumber, "PassportNumber")
</div>
<div class="form-group row">
    @Html.LabelledTextBox(model => model.DateOfBirth, "Individual.DateOfBirth")
    @Html.LabelledDropdown(model => model.Gender, "Individual.Gender", "lookup as lookup.Description for lookup in Individual.Lookups.Genders")
</div>
<div class="form-group row">
    @Html.LabelledDropdown(model => model.Race, "Individual.Race", "lookup as lookup.Description for lookup in Individual.Lookups.Races")
    @Html.LabelledDropdown(model => model.MaritalStatus, "Individual.MaritalStatus", "lookup as lookup.Description for lookup in Individual.Lookups.MaritalStatuses")
</div>
<div class="form-group row">
    @Html.LabelledDropdown(model => model.Salutation, "Individual.Salutation", "lookup as lookup.Description for lookup in Individual.Lookups.Salutations")
</div>